.menuSuperior{
  height: 10%;
  padding-left: 1%;
  background-color: #3d3d3dad;
}

button{
  background-color: #eb25a2;
  border: 1px solid #eb25a2;
}

button:hover{
  background-color: #eb25a294;
  border: 1px solid #eb25a294;
}

button:active{
  background-color: #eb25a294;
  border: 1px solid #eb25a294;
}

.menuLateral {
  width: 100%;
  height: 90%;
  border: 1px solid #afabab;
}

.mat-menu{
  width: 15%;
}

.menu-item{
  color: black;
}

.item-sel{
  display: flex;
  justify-content: center;
  align-items: center;
}

.item-sel:hover{
  background-color: #e947adb1;
  border-radius: 5px;
}
