<nav class="menuSuperior navbar navbar-expand bd-navbar">
  <button type="submit" (click)="expandir()" class="btn btn-primary btn-add-car form-Step">
    <i class=" menuSuperiorButtom bi bi-list"></i>
  </button>
</nav>

<mat-drawer-container class="menuLateral">
  <mat-drawer class="mat-menu" mode="side" opened="true" *ngIf="isExpanded">
    <ul class="navbar-nav" routerLinkActive="active">
      <li class="nav-item item-sel"><a class="nav-link menu-item" routerLink="home">HOME</a></li>
      <li class="nav-item item-sel"><a class="nav-link menu-item" routerLink="empresa">EMPRESA</a></li>
      <li class="nav-item item-sel"><a class="nav-link menu-item" routerLink="cargo">CARGO</a></li>
      <li class="nav-item item-sel"><a class="nav-link menu-item" routerLink="departamento">DEPARTAMENTO</a></li>
      <li class="nav-item item-sel"><a class="nav-link menu-item" routerLink="funcionario">FUNCIONÁRIO</a></li>
      <li class="nav-item item-sel"><a class="nav-link menu-item" routerLink="regPonto">REGISTOR DE PONTO</a></li>
    </ul>
  </mat-drawer>

  <mat-drawer-content>
    <router-outlet></router-outlet>
  </mat-drawer-content>
</mat-drawer-container>
