<nav class="menuSuperior navbar navbar-expand bd-navbar">
  <button type="submit" (click)="expandir()" class="btn btn-primary btn-add-car form-Step">
    <i class=" menuSuperiorButtom bi bi-list"></i>
  </button>
</nav>

<mat-drawer-container class="menuLateral">
  <mat-drawer class="mat-menu" mode="side" opened="true" *ngIf="isExpanded">
    <ul class="navbar-nav" routerLinkActive="active">
      <li class="nav-item"><a class="nav-link" routerLink="empresa">Empresa</a></li>
      <li class="nav-item"><a class="nav-link" routerLink="cargo">Cargo</a></li>
      <li class="nav-item"><a class="nav-link" routerLink="departamento">Departamento</a></li>
      <li class="nav-item"><a class="nav-link" routerLink="funcionario">Funcionario</a></li>
      <li class="nav-item"><a class="nav-link" routerLink="regPonto">Registro de Ponto</a></li>
    </ul>
  </mat-drawer>

  <mat-drawer-content>
    <router-outlet></router-outlet>
  </mat-drawer-content>
</mat-drawer-container>
